extends ../layout

block auth
  a(href="/auth/facebook") Login Using Facebook
  br
  br
  | Or enter your email and pass
  br
  br
  form(action="/users/login", method="post", role="form")
    input#email(type="text", placeholder="Username", name="username")

    br
    input#password(type="password", placeholder="Password", name="password")

    br
    button(type='submit') Log in
    br
    if errmsg && errmsg.length
      p.error= errmsg
    br

    a(href="/users/signup") Sign up
