doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header
      if (req.isAuthenticated())
        span Welcome 
          strong #{req.user.username}
          | ! &nbsp;&nbsp;
        a(href="/users/logout") Logout
      else
        a(href="/users/login") Login

    .content
      block auth
      block content
